.sliding-modal-Right {
  position: fixed; /* changed to fixed for full height coverage */
  top: 0;
  right: -300px; /* start from the right side */
  width: 300px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  transition: right 0.3s ease; /* animate the right property */
  overflow: hidden;
  box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.1); /* shadow direction */
  z-index: 1000;
}

.sliding-modal-Right.visible {
  right: 0; /* slide in to show */
}

/* Update .sliding-modal-backdrop if needed for new modal */
.sliding-modal-backdrop-Right {
  position: fixed;
  top: 0;
  left: 0;
  right: -300px; /* adjust to not cover the modal */
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: none;
}

.sliding-modal-Right.visible .sliding-modal-backdrop-Right {
  display: block;
  right: 300px; /* adjust to cover the screen except the modal */
}

