.button-dots {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-dots:focus {
  outline: none;
}

/* Media query for mobile views */
@media (max-width: 600px) {
  .button-dots {
    padding: 8px;
    font-size: 0.8em; 
  }
}
