.navBar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navBar-inner-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 20px;
}
.profile-btn-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 5px; */
}

.navBar-left {
  gap: 14px;
}

.navBar-left button {
  background-color: transparent;
  border: none;
  outline: none;
}

.navBar-left,
.navBar-center,
.navBar-right {
  display: flex;
  align-items: center;
}

.navBar-spacer {
  flex-grow: 1;
}

/* ***************Log In, sign UP and Cart buttons****************** */
/* Common button styles */
.navBar-left{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}
.cart-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-left: 10px;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
  width: 91px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #000000;
  color: white; */
}

/* Login Button */
.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 8px 16px;
  width: 91px;
  height: 36px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  border:transparent;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  /* border: 1px solid #000000; */
  /* color: #000; */
}

.login-btn:hover {
  /* background-color: #555; */
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}
.login-btn-word-logo-user-circle {
  gap: 5px;
}
.login-btn * {
  margin: 0;
  padding: 0;
}

/* Signup Button */
.signup-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-left: 10px;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 25px;
  border:transparent;
  transition: background-color 0.3s, transform 0.3s;
  width: 91px;
  height: 36px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: white;
}

.signup-btn:hover {
  background-color: #333;
  transform: scale(1.05);
  cursor: pointer;
}
.signup-btn * {
  margin: 0;
  padding: 0;
}

/* Cart Button */
.cart-btn {
  background-color: black;
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.cart-btn:hover {
  background-color: #C0C0C0;
  transform: scale(1.05);
  cursor: pointer;
}
/* ******************************************************/

.line {
  margin-top: 10px;
  border: none;
  border-top: 1px solid #e0e0e0;
}

/* .fas {
  font-size: 24px;
  cursor: pointer;
} */

.navbar-logo {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-left: 13px;
}
.logo-h1-first {
  font-weight: 300;
  /* font-size: 1.5rem; */
  font-size: 35px;
  color:#000
}

.logo-h1-second {
  font-weight: 700;
  /* font-size: 1.5rem; */
  font-size: 35px;
  color:goldenrod
}
.hidden {
  visibility: hidden;
}

/* *************************************Navigation Media queries************************************* */
/* Default mobile-first styles*/

/* Smartphone Devices */
@media screen and (max-width: 767px) {
  .navBar-inner-container,
  .navBar-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px;
    gap: 10px;
    justify-content: flex-start;

  }
  .navBar-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px;
    gap: 0px;

  }

  .logo-h1-first,
  .logo-h1-second {
    font-size: 1.2rem;
  }

  .login-btn,
  .signup-btn,
  .cart-btn {
    font-size: 0.9rem;
    width: 80px;
    height: 30px;
  }

  .navBar-inner-container > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

/* Medium Devices (tablets) */
@media screen and (min-width: 768px) {
  .navBar-inner-container {
    padding: 0px 64px;
    flex-direction: row;
    /* flex-direction: column; */
    justify-content: space-between;
  }
  .logo-h1-first,
  .logo-h1-second {
    font-size: 1.4rem;
  }
  .login-btn,
  .signup-btn,
  .cart-btn {
    font-size: 1rem;
    width: 100px;
    height: 40px;

  }
}

/* Large Devices (laptops) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navBar-inner-container {
    padding: 0px 64px;
  }
  .logo-h1-first,
  .logo-h1-second {
    font-size: 1.5rem;
  }
}

/* Extra Large Devices (large desktops) */
@media screen and (min-width: 1200px) {
  .navBar-inner-container {
    padding: 0px 64px;
  }
  .logo-h1-first,
  .logo-h1-second {
    font-size: 1.5rem;
  }
}
