/* Basic reset for list styles */
.shopping-cart-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Container for the entire cart */
.shopping-cart-container {
  max-width: 600px;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Cart header */
.shopping-cart-header {
  background: black;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart-header h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: normal;
  color: #ffffff;
}

/* Cart summary and total */
.shopping-cart-summary,
.shopping-cart-total {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}

.shopping-cart-summary span,
.shopping-cart-total strong,
.shopping-cart-total span {
  font-size: 1.1em;
}

/* Individual cart item styles */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.cart-item-name {
  display: flex;
  align-items: center;
}

.cart-item img {
  margin-right: 10px;
  border-radius: 4px;
}

.cart-item-details {
  display: flex;
  align-items: center;
}

/* Quantity selector styling */
select {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #f7f7f7;
}

/* Button styles */
.checkout-button,
.add-items-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background: #218838;
}
.add-items-button:hover {
  background: #218838;
}

.checkout-button {
  margin-top: 10px;
  background: black;
  color: #ffffff;
}

.add-items-button {
  background: grey;

}

.add-items-button:hover {
  background: #0069d9;
}

/* When cart is empty */
.message-empty-cart-p {
  padding: 20px;
  text-align: center;
}
