.Back-to-Nearby-Restaurant a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-left: 74;
}

.Back-to-Nearby-Restaurant a:hover {
  background-color: goldenrod;

}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 25px;
}

.restaurant-list.with-favorites {
  background-color: black
}

.restaurant-list.no-favorites {
  background-color: transparent;
}


.restaurant-card {
  flex: 0 0 calc(33.3333% - 25px);
  max-width: calc(33.3333% - 25px);
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  position: relative;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;

}

.restaurant-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform 0.3s;
  margin-bottom: 10px;
}

.restaurant-image:hover {
  transform: scale(1.05);
}

.favorite-heart {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: white;

  cursor: pointer;
  transition: color 0.3s;
}

.restaurant-details {
  padding: 0 15px;
}

.restaurant-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.restaurant-address {
  font-size: 15px;
  margin-bottom: 10px;
  color: #777;
}

.restaurant-rating {
  font-size: 15px;
  color: #ff9800;
}

@media (max-width: 768px) {
  .Back-to-Nearby-Restaurant a {
    padding: 8px 12px;
    font-size: 0.8rem;
    margin-left: 10px;
  }

  .restaurant-list {
    padding: 15px;
    gap: 20px;
  }

  .restaurant-card {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px;
  }

  .restaurant-image {
    height: 150px;
  }

  .favorite-heart {
    font-size: 20px;
  }

  .restaurant-details {
    padding: 0 10px;
  }

  .restaurant-name {
    font-size: 18px;
  }

  .restaurant-address,
  .restaurant-rating {
    font-size: 14px; 
  }
}
