/* Universal Styles */
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Review Form */
#form-review {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  border: solid 2px #E0E0E0;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.review-form-h2 {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

#form-review textarea {
  margin: 10px 10px 20px 10px;
  padding: 10px;
  background-color: #F7F7F7;
  height: 111px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  resize: none;
}

.star-container {
  text-align: center;
  margin-bottom: 20px;
}

.star-container span {
  font-size: 1.4em;
  transition: color 0.3s;
}

.star-container span:hover,
.star-container span:hover ~ span {
  color: goldenrod;
}

#submit-review-btn {
  background-color: black;
  border: none;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  height: 50px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#submit-review-btn:hover {
  background-color:  goldenrod;
}

#submit-review-btn:active {
  transform: scale(0.98);
}

#submit-review-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
  box-shadow: none;
}

.error {
  color: red;
  margin: 10px;
  font-weight: bold;
}

/* Star Rating Styles */
.star-container {
  cursor: pointer;
  margin-bottom: 20px;
}

.star-container span {
  color: gray;
  transition: color 0.3s;
}

.star-container span:hover,
.star-container span:hover ~ span {
  color: black;
}

