/* Enhanced Title Styles */

.restaurant-detail-titles-h2 {
  font-size: 28px;
  margin-bottom: 25px;
  padding: 10px 20px;
  border-radius: 10px;
  /* background-color: #333;  */
  color: #fff; /* White text */
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.restaurant-detail-titles-h2::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  /* background: linear-gradient(60deg, #56D399, #2DC771, #56D399, #2DC771);  */
  z-index: -1;
  background-size: 300% 300%;
  animation: gradientWave 6s infinite;
  border-radius: inherit;
}


@keyframes gradientWave {
  0% {background-position: 100% 50%;}
  50% {background-position: 0 50%;}
  100% {background-position: 100% 50%;}
}

/* Base Styles */
.restaurant-detail-container {
  font-family: "Arial", sans-serif;
  /* width: 96%;
  margin: 0 auto;
  background-color: #f7f7f7;
  padding: 20px; */

  width: 100%;
  /* padding: 0; */
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */

}
/* Body section for filter and main content */
.restaurant-detail-body {
  display: flex;
  gap: 20px;
}
.restaurant-detail-sidebar {
  flex: 1; /* Adjust based on how much space you want the sidebar to take */
  max-width: 300px; /* Set a max-width for the sidebar */
  /* background-color: black; */
  margin-top: 53px;


}
.restaurant-detail-main-content {
  flex: 3; /* Adjust based on how much space you want the main content to take */
}
h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Restaurant Banner */
.restaurant-banner {
  width: 100%;
  height: 160px;
  background-size: cover;
  background-position: center;
  position: relative;
  background: rgba(0, 0, 0, 0.02);
}

.favorite-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.restaurant-name {
  bottom: 10px;
  left: 10px;
  color: black;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin: 20px 0;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

/* Restaurant Info */
.restaurant-name-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: white;
}

.avgRating-numberOfReviews-p-tag {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.avgRating-numberOfReviews-span, .num_reviews-food_type-moreInfo-div {
  display: inline-block;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.rating-box {
  background-color: #e0e0e0;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.delivery-times-p {
  margin-top: 0px;
  color: grey;
  font-weight: 500;
  font-size: 14px;
}

/* Content Sections */
.restaurant-info, .menu-items, .owner-info {
  padding: 20px;
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
}

.menu-items-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;

}
