.reorder-container {
  text-align: center;
  margin-top: 10px;
}

.reorder-button {
  background-color:goldenrod;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.reorder-button:hover {
  background-color: rgb(155, 121, 36);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.reorder-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.reorder-button .icon {
  margin-right: 5px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
